on early-init
    write /sys/module/musb_hdrc/parameters/kernel_init_done 1

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.controller musb-hdrc

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
